* {
  margin: 0;
  padding: 0;
  box-sizing: bor3der-box;
}

/* Utilities */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

p,
a,
span,
li,
div {
  font-family: "Inter", sans-serif;
}

.fs-8 {
  font-size: 14px;
}

.c-white {
  color: white !important;
}

.bg-color {
  background-color: #f8f9fa;
}

.bg-white {
  background-color: white;
}

.dark-gray {
  color: rgb(125, 124, 124);
}

.c-black {
  color: black;
}

.bg-green {
  background-color: #3b5d4f;
}

.bg-light-green {
  background-color: #dde3e1;
}

.w-80 {
  max-width: 80%;
}

.text-b {
  font-weight: 600;
}

.padding-right {
  padding-right: 0px !important;
  color: white !important;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

header nav {
  /* background-color: #dde3e1; Dark Gray */
  /* background-color: #f0f2f1;    Ligh Gray */
  background-color: #3b5d4f !important;

  /* background-color: #f6be29;  Yellow */
}

header nav div ul li a {
  color: #dde3e1 !important;
  transition: all 0.3s ease;
}

header nav div ul li a:hover {
  color: white !important;
}

/* Landing Page Section */

#landing-page {
  height: fit-content !important;
}

#landing-page div button {
  border-radius: 15px;
}

#landing-page div .first-btn {
  background-color: #f6be29;
  color: black;
  border: none;
}

#landing-page div .second-btn {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

#landing-page div .landin-img {
  object-fit: cover;
  transform: translateY(-40px);
  z-index: 50;
}

#landing-page div .landing-dots-img {
  position: relative;
  top: -120px;
  left: -190px;
  z-index: 40;
}

@media (max-width: 768px) {
  .landing-img-div {
    margin-top: 100px;
  }
}

@media (max-width: 768px) {
  #landing-page div .landing-dots-img {
    width: 200px;
    position: relative;
    top: -110px;
    left: -180px;
    z-index: 40;
  }
}

@media (max-width: 576px) {
  .landing-img-div {
    margin-top: 90px;
  }
}

@media (max-width: 576px) {
  #landing-page div .landing-dots-img {
    width: 150px;
    position: relative;
    top: -80px;
    left: -140px;
    z-index: 40;
  }
}

/* Services Section */

#service div .service-btn {
  border-radius: 15px !important;
}

#service div img {
  width: 100%;
  /* height: 229.125px; */
  height: fit-content;
}

@media (max-width: 576px) {
  #service div img {
    margin-top: 100px !important;
  }
}

@media (max-width: 576px) {
  #service div img {
    margin-top: 100px !important;
  }
}

/* About Us Section */

#about-us div .about-dots-img {
  position: relative;
  top: 5px;
  left: 45px;
  z-index: 40;
}

#about-us div .about-us-img {
  position: relative;
  right: -100px;
  top: -70px;
  object-fit: cover;
  transform: translateY(-40px);
  z-index: 50;
}

@media (max-width: 576px) {
  #about-us div .about-us-img-div {
    margin-top: 30px !important;
  }
}

@media (max-width: 576px) {
  #about-us div .about-dots-img {
    position: relative;
    top: 10px;
    left: 15px;
  }
}

@media (max-width: 576px) {
  #about-us div .about-us-img {
    height: 350px !important;
    position: relative;
    left: 70px;
    top: -70px;
  }
}

@media (max-width: 768px) {
  #about-us div .about-us-img-div {
    margin-top: 50px !important;
  }
}

@media (max-width: 768px) {
  #about-us div .about-dots-img {
    position: relative;
    top: 10px;
    left: 15px;
  }
}

@media (max-width: 768px) {
  #about-us div .about-us-img {
    height: 500px !important;
    width: 80%;
    position: relative;
    left: 70px;
    top: -70px;
  }
}

/* Tagline Section */

#tagline div .service-btn {
  border-radius: 15px !important;
  margin-bottom: 10px !important;
}

/* Read More Section */

#read-more .read-more-boxes {
  transition: all 0.3s ease;
}

#read-more .read-more-boxes:hover {
  background-color: #dde3e1;
}

#read-more .text-box {
  padding-right: 3px !important;
}

#read-more .text-box a {
  text-decoration: none !important;
  transition: all 0.3s ease;
}

#read-more .text-box a:hover {
  color: #3b5d4f;
}

/* Testimonials Section */

#testimonial div img {
  border-radius: 50% !important;
}

.carousel-control-prev,
.carousel-control-next {
  font-size: 10px !important;
  background-color: rgba(59, 93, 79, 0.5);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-control-prev {
  top: 50%;
  transform: translateY(-50%);
}

.carousel-control-next {
  top: 50%;
  transform: translateY(-50%);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  color: white;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: rgb(164, 193, 183);
}

/* Blog Section */

#blog a {
  color: black;
  text-decoration: none;
  transition: all 0.3s ease;
}

#blog a:hover {
  color: #3b5d4f;
}

/* Contact Us Section  */

#contact-us form button {
  background-color: #3b5d4f !important;
  color: white !important;
}

#contact-us img {
  position: relative;
  top: -70px;
  right: -200px;
  /* transform: translateY(-40px); */
  z-index: 50;
}

@media (max-width: 576px) {
  #contact-us img {
    position: relative;
    top: 60px;
    right: -70px;
    z-index: 50;
  }
}

@media (max-width: 768px) {
  #contact-us img {
    position: relative;
    top: 60px;
    right: -110px;
    z-index: 50;
  }
}
